* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.topHalf {
  background-color: #1f2937;
}
.topbar {
  display: flex;
  color: white;
  margin: 0 20rem;
  padding-top: 20px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
}

ul li {
  display: inline-block;
  font-size: 18px;
  color: #e5e7eb;
  padding: 0 5px;
}
.firstSection {
  display: flex;
  padding: 15rem 0;
  margin: 0 20rem;
  color: #f0faf8;
  gap: 10%;
}

.leftSection {
  width: 500px;
}

.leftSection h1 {
  font-size: 48px;
  font-weight: bolder;
}
.button {
  padding-top: 10px;
}
.signUp {
  background-color: #3882f6;
  display: block;
  height: 30px;
  width: 100px;
  border-radius: 5rem;
  font-size: 18px;
  color: #f0faf8;
  border: none;
}

.rightSection {
  display: flex;
  background-color: grey;
  height: 300px;
  width: 800px;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.randomContent {
  display: flex;
  gap: 100px;
  padding: 25px;
}

.subtext {
  width: 2px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
}
.quote {
  background-color: #e5e7eb;

  padding: 100px 250px;
}

em {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;

  color: #1f2937;
}

cite {
  text-align: center;
}

.content {
  display: flex;
  padding: 40px;
  background-color: #3882f6;
  width: 50%;
  color: #e5e7eb;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.signUpContainer {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.Btn {
  background-color: #3882f6;
  display: block;
  height: 30px;
  width: 100px;
  border-radius: 5rem;
  font-size: 18px;
  color: #f0faf8;
  border: 1px solid #e5e7eb;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 50px;
}
